body {
 margin: 0;
 color: #555555;
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 font-family: Roboto Slab;
}

.container {
  max-width: 1145px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  margin-top: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.has-line {
  position: relative;
}

.has-line:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}

.btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid #ffffff;
  text-decoration: none;
  font-family: Montserrat;
  text-transform: uppercase;
}

.color-white {
  color: #ffffff;
}


.row {
  display: flex;
  justify-content: space-between;
  
}


/* #region header */

.header {
  background-image: url(/img/header-bg.jpg);
  background-size: cover;
  min-height: 804px;
  text-align: center;
}

.header__nav,
.header__list {
  display: flex;
}

.header__nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  
}

.header__word {
 color: #ffffff;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__list-item {
  display: block;
  margin-right: 20px;
}

.header__list-link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.35px;
  margin-right: 10px;
  text-decoration: none;
}

.header__title {
  font-family: Montserrat;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 260px;
}

.header__subtitle {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 35px;
}

/* #endregion */


/*#region serwices */

.serwices__title {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
}

.serwices__title:after {
  bottom: -30px;
  height: 2px;
  background-color: #555555;
  
}

.serwices__text {
  font-size: 16px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 65px;
 
}

.serwices__items {
  display: flex;
}

.serwices__item {
  width: 33.33%;
  padding: 30px 15px;
  margin-bottom: 35px;
}

.expertise__item-icon1 {
  border: 2px solid #dddddd;
  border-radius: 50px;
  padding: 0;
  background-color: #c0301c;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.expertise__item-icon2 {
  width: 90px;
  height: 90px;
  border: 2px solid #dddddd;
  border-radius: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.expertise__item-icon3 {
  width: 90px;
  height: 90px;
  border: 2px solid #dddddd;
  border-radius: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.expertise__item-title {
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}

.expertise__item-text {
  text-align: center;

}

/*#endregion */


/*#region about */







.about {
  background-color: #f8f8f8;
}

.about__title {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}

.about__title:after {
  bottom: -30px;
  height: 2px;
  background-color: #555555;
}

.about__subtitle {
  font-size: 16px;
  text-align: center;
  margin-top: 45px;
}

.about__row {
  margin-bottom: 50px;
}

.about__items {
  padding-bottom: 100px;
  position: relative;
  
}

.arrow{
  position: absolute;
  background-color: rgba(85, 85, 85,0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 35px;
  height: 38px;
}

.arrow:hover {
  background-color: #c0301c;
}

.right {
  left: 97%;
  top: 27%;
}

.left {
  left: 0%;
  top: 27%;
}





.about__text {

}

.about__item-wrap {
  position: relative;
  margin-bottom: 10px;
}

.about__wrap-images {

}

.about__wrap-img {
  display: block;
}


.about__item-wrap .about__wrap-icons {
  display: none;
}

.about__item-wrap:hover .about__wrap-icons {
  display: flex;
}

.about__wrap-icons {
  background-color: rgba(85,85,85,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}




.about__icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.about__icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 28px;
  height: 28px;
  
}

.about__icon:hover {
  text-decoration: none;
  background-color: #c0301c;
}



.about__item-name {
  text-align: center;
}

.about__item-position {
  text-align: center;
  font-size: 13px;
  
}

/*#endregion */


/* #region works*/

.works__title {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
}

.works__title:after {
  bottom: -30px;
  height: 2px;
  background-color: #555555;
}

.works__list {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 65px;
 
}

.works__list-item{
  list-style-type: none;
  margin-right: 25px;
  margin-top: 30px;
  
}

.works__list-link {
  text-decoration: none;
}

.works__list-link:hover,
.works__list-link--active {
  color: #c0301c;
}

.works__wrap {
  margin-bottom: 100px;
}

.works__img-row {
  margin-bottom: 30px;
}

.works__wrap-img {
  position: relative;
}


.works__img {
  display: block;
  
}

.works__wrap-img .works__wrap-content {
  display: none;
}

.works__wrap-img:hover .works__wrap-content {
  display: flex;
}


.works__wrap-content {
  background-color: rgba(192,48,28,0.7); /* полупрозрачный только фон rgba */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.works__content {
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
}

.works__content-title {
  text-align: center;
  color: #fff;
}

.works__content-subtitle {
  text-align: center;
  color: #fff;
}

.works__content-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: #d06455;
  background-color: #fff;
  padding-left: 22px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 1.4px;
  border: 2px solid #d06455;
  text-decoration: none;
  font-family: Montserrat;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}

.arrow__red{
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  left: 57%;
  top: 62%;
  padding-right: 50px;
}




/*#endregion*/


/*#region paralax*/

.paralax {
  background-image: url(/img/paralax-bg.jpg);
  background-size: cover;
  min-height: 369px;
}
  
.paralax__title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  line-height: 44px;
  padding-top: 90px;
  margin-bottom: 40px;
  font-weight: normal;
}

.paralax__btn {
 position: relative;
 left: 50%;
 transform: translate(-50%,0)

}
/*#endregion*/


/*#region blog*/

.blog {
  padding-top: 100px;
  padding-bottom: 25px;
}

.blog__title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
}

.blog__title:after {
  bottom: -30px;
  height: 2px;
  background-color: #555555;
}

.blog__subtitle{
  font-size: 16px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 70px;
}

.blog__row {
  margin-bottom: 75px;
}

.blog__img {
  margin-right: 40px;
}

.blog__item {
}

.blog__item-row {
  display: flex;
}

.blog__item-date {
  border: 2px solid #555555;
  height: 76px;
  width: 76px;
  margin-right: 30px;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}



.blog__item-day{
  color: #777777;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2.4px;
  margin-bottom: 10px;
  text-align: center;
}

.blog__item-month {
  letter-spacing: 1.4px;
  color: #777777;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
 


.blog__item-wrap {

}

.blog__item-title {
  font-family: Montserrat;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.blog__item-title:hover {
  color: #c5412f;
}

.blog__item-autor {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

.blog__item-text {

}

.blog__item-btn {
  text-decoration: none;
  color: #777777;
  text-transform: uppercase;
}

.blog__item-btn:hover {
 color: #c0301c;
}



/*#endregion*/


/*#region rectangle*/

.rectangle {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.rectangle__wrap {
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.rectangle__logo {
   margin-right: 60px;
}

.rectangle__text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.rectangle__name {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px;
}

.rectangle__dots {
  display: flex;
  justify-content: center;
}

.rectangle__dot {
  width: 13px;
  height: 13px;
  margin: 0 5px 0 0;
  padding: 0;
  background: transparent;
  border: 1px solid #dddddd;
  border-radius: 50%;
  background-color: #dddddd;
}


.rectangle__dot--active {
  background-color: #c0301c;
  border: none; /* убрать обводку у кнопки */
}

/*#endregion*/

/*#region communication*/

.communication {
  padding-bottom: 100px;
  padding-top: 100px;
}

.communication__row {
  display: flex;
 
}

.communication__title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
}

.communication__title:after {
  bottom: -30px;
  height: 2px;
  background-color: #555555;
}

.communication__subtitle{
  font-size: 16px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 40px;
}

.communication__item {

}

.communication__item-text {
  display: flex;
}

.communication__item-icon {
  margin-right: 15px;
  margin-top: -40px;
  
}

.communication__item-wrap {

}

.communication__item-title {
  font-family: Montserrat;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.communication__item-subtitle {
  font-size: 12px;
  line-height: 20px;
}

.communication__form {
  max-width: 730px;
  width: 100%
}

.communication__form-wrap {
  justify-content: space-between;
  display: flex;  
}

.communication__form-wrap--left {
  justify-content: flex-start;
}

.communication__form-item {
  margin-bottom: 20px;
  padding: 10px 15px;
  line-height: 20px;
}

.communication__form-item,
.communication__form-btn {
  width: 100%;
  font-size: 12px;
  color: #555555;
  border: 1px solid #555555;
}

.communication__form-item:focus {
  outline: none;
  border: 1px solid #c0301c;
}

.communication__form-item::placeholder {
  text-transform: uppercase;
}

.communication__form-input {
  max-width: 318px;
}

.communication__form-textarea {
  max-width: 698px;
  min-height: 100px;
}

.communication__form-btn {
  max-width: 170px;
  width: 100%;
  height: 44px;
  margin-right: 40px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

/*#endregion*/

/*#region footer*/

.footer {
  background-color: #c0301c;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__icons {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;


}

.footer__icons:after {
  bottom: -30px;
  height: 2px;
  background-color: #fff;
}

.footer__icon {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
  padding: 0;
  background-color: #c0301c;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  
  

}

.footer__info {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

}

/*#endregion*/
